@if (currentUser) {
<h3 class="mt-5">Scan the QR to add your attendance </h3>

<ngx-scanner-qrcode
  #action="scanner"
  [isBeep]="false"
  (event)="eventCaptured($event)"
></ngx-scanner-qrcode>

<span>{{ action.data.value | json }}</span>
<span>{{ action.data | async | json }}</span>

<!-- Loading -->
<p class="mx-4" *ngIf="action.isLoading">⌛ Loading...</p>

<!-- start -->
<button class="ml-4 btn btn-primary" (click)="action.isStart ? action.stop() : action.start()">
  {{ action.isStart ? "Stop" : "Scan" }}
</button>
} @else {
<p>Please login.</p>
}
